# Load ADFA UNSW-NB15 data set

In [ ]:
import numpy as np
import pandas as pd

# set working directory
import os
os.chdir("W:/UVA/InvestigacionUVA/CODIGO/RBF")


## Load train and test data

We load the train and test data and show the head of the Train and Test files

In [ ]:
#load data
# train and test names are wrong
dataTest = pd.read_csv("UNSW_NB15_training-set.csv", header = 0)
dataTrain = pd.read_csv("UNSW_NB15_testing-set.csv", header = 0)
print(dataTrain.shape)
print(dataTest.shape)
dataTrain.head(5)

(175341, 45)
(82332, 45)

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,...,1,1,0,0,0,1,1,0,Normal,0
1,2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,...,1,2,0,0,0,1,6,0,Normal,0
2,3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,...,1,3,0,0,0,2,6,0,Normal,0
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
4,5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,...,1,40,0,0,0,2,39,0,Normal,0

In [ ]:
dataTrain

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,...,1,1,0,0,0,1,1,0,Normal,0
1,2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,...,1,2,0,0,0,1,6,0,Normal,0
2,3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,...,1,3,0,0,0,2,6,0,Normal,0
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
4,5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,...,1,40,0,0,0,2,39,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175336,175337,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,13,24,0,0,0,24,24,0,Generic,1
175337,175338,0.505762,tcp,-,FIN,10,8,620,354,33.612649,...,1,2,0,0,0,1,1,0,Shellcode,1
175338,175339,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,3,13,0,0,0,3,12,0,Generic,1
175339,175340,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,14,30,0,0,0,30,30,0,Generic,1
175340,175341,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,16,30,0,0,0,30,30,0,Generic,1

In [ ]:
dataTest.head(5)

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.0902,...,1,2,0,0,0,1,2,0,Normal,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.0003,...,1,2,0,0,0,1,2,0,Normal,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.0051,...,1,3,0,0,0,1,3,0,Normal,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.6608,...,1,3,0,0,0,2,3,0,Normal,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.0025,...,1,3,0,0,0,2,3,0,Normal,0

In [ ]:
# limit to categorical data using df.select_dtypes()

#Xctr and Xcte are the categorical parts
Xctr = dataTrain.select_dtypes(include=[object])
Xcte = dataTest.select_dtypes(include=[object])
Xcte.head(10)

  proto service state attack_cat
0   udp       -   INT     Normal
1   udp       -   INT     Normal
2   udp       -   INT     Normal
3   udp       -   INT     Normal
4   udp       -   INT     Normal
5   udp       -   INT     Normal
6   udp       -   INT     Normal
7   udp       -   INT     Normal
8   arp       -   INT     Normal
9   arp       -   INT     Normal

In [ ]:
Xctr.shape

(175341, 4)

In [ ]:
Xcte.shape

(82332, 4)

In [ ]:
# import preprocessing from sklearn
from sklearn import preprocessing

# encode labels with value between 0 and n_classes-1.
le1 = preprocessing.LabelBinarizer()
le2 = preprocessing.LabelBinarizer()
le3 = preprocessing.LabelBinarizer()
le4 = preprocessing.LabelBinarizer()

Xctotal = Xctr.append(Xcte, ignore_index=True)
print(Xctotal.shape)
Xctotal1 = le1.fit_transform(Xctotal["proto"])
Xctotal2 = le2.fit_transform(Xctotal["service"])
Xctotal3 = le3.fit_transform(Xctotal["state"])
Xctotal4 = le4.fit_transform(Xctotal["attack_cat"])

# Train
Xctr1 = Xctotal1[0:Xctr.shape[0]]
print("valores proto: {}".format(Xctr1.shape))

Xctr2 =  Xctotal2[0:Xctr.shape[0]]
print("valores service: {}".format(Xctr2.shape))
Xctr3 =  Xctotal3[0:Xctr.shape[0]]
print("valores state: {}".format(Xctr3.shape))
Xctr4 =  Xctotal4[0:Xctr.shape[0]]
print("valores attack_cat: {}".format(Xctr4.shape))

(257673, 4)
valores proto: (175341, 133)
valores service: (175341, 13)
valores state: (175341, 11)
valores attack_cat: (175341, 10)

In [ ]:
# Test
# encode labels with value between 0 and n_classes-1.
Xcte1 = Xctotal1[Xctr.shape[0]:]
print("valores proto: {}".format(Xcte1.shape))
Xcte2 =  Xctotal2[Xctr.shape[0]:]
print("valores service: {}".format(Xcte2.shape))
Xcte3 =  Xctotal3[Xctr.shape[0]:]
print("valores state: {}".format(Xcte3.shape))
Xcte4 =  Xctotal4[Xctr.shape[0]:]
print("valores attack_cat: {}".format(Xcte4.shape))

valores proto: (82332, 133)
valores service: (82332, 13)
valores state: (82332, 11)
valores attack_cat: (82332, 10)

In [ ]:
data_total = dataTrain.append(dataTest, ignore_index=True)
data_total_continous = data_total.select_dtypes(exclude=[object]).drop(['id','label'], axis=1)
data_total_continous.shape

(257673, 39)

In [ ]:
data_total_continous

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports
0,0.121478,6,4,258,172,74.087490,252,254,1.415894e+04,8495.365234,...,1,1,1,1,0,0,0,1,1,0
1,0.649902,14,38,734,42014,78.473372,62,252,8.395112e+03,503571.312500,...,1,1,1,2,0,0,0,1,6,0
2,1.623129,8,16,364,13186,14.170161,62,252,1.572272e+03,60929.230470,...,2,1,1,3,0,0,0,2,6,0
3,1.681642,12,12,628,770,13.677108,62,252,2.740179e+03,3358.622070,...,2,1,1,3,1,1,0,2,1,0
4,0.449454,10,6,534,268,33.373826,254,252,8.561499e+03,3987.059814,...,2,2,1,40,0,0,0,2,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257668,0.000005,2,0,104,0,200000.005100,254,0,8.320000e+07,0.000000,...,2,1,1,2,0,0,0,2,1,0
257669,1.106101,20,8,18062,354,24.410067,254,252,1.241044e+05,2242.109863,...,2,1,1,1,0,0,0,3,2,0
257670,0.000000,1,0,46,0,0.000000,0,0,0.000000e+00,0.000000,...,1,1,1,1,0,0,0,1,1,1
257671,0.000000,1,0,46,0,0.000000,0,0,0.000000e+00,0.000000,...,1,1,1,1,0,0,0,1,1,1
257672,0.000009,2,0,104,0,111111.107200,254,0,4.622222e+07,0.000000,...,1,1,1,1,0,0,0,1,1,0

In [ ]:
list(data_total_continous.columns.values)

['dur',
 'spkts',
 'dpkts',
 'sbytes',
 'dbytes',
 'rate',
 'sttl',
 'dttl',
 'sload',
 'dload',
 'sloss',
 'dloss',
 'sinpkt',
 'dinpkt',
 'sjit',
 'djit',
 'swin',
 'stcpb',
 'dtcpb',
 'dwin',
 'tcprtt',
 'synack',
 'ackdat',
 'smean',
 'dmean',
 'trans_depth',
 'response_body_len',
 'ct_srv_src',
 'ct_state_ttl',
 'ct_dst_ltm',
 'ct_src_dport_ltm',
 'ct_dst_sport_ltm',
 'ct_dst_src_ltm',
 'is_ftp_login',
 'ct_ftp_cmd',
 'ct_flw_http_mthd',
 'ct_src_ltm',
 'ct_srv_dst',
 'is_sm_ips_ports']

In [ ]:
data_total_continous.iloc[:,0:10].describe() # non categorical

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload
count,257673.000000,257673.000000,257673.000000,2.576730e+05,2.576730e+05,2.576730e+05,257673.000000,257673.000000,2.576730e+05,2.576730e+05
mean,1.246715,19.777144,18.514703,8.572952e+03,1.438729e+04,9.125391e+04,180.000931,84.754957,7.060869e+07,6.582143e+05
std,5.974305,135.947152,111.985965,1.737739e+05,1.461993e+05,1.603446e+05,102.488268,112.762131,1.857313e+08,2.412372e+06
min,0.000000,1.000000,0.000000,2.400000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,0.000008,2.000000,0.000000,1.140000e+02,0.000000e+00,3.078928e+01,62.000000,0.000000,1.231800e+04,0.000000e+00
50%,0.004285,4.000000,2.000000,5.280000e+02,1.780000e+02,2.955665e+03,254.000000,29.000000,7.439423e+05,1.747441e+03
75%,0.685777,12.000000,10.000000,1.362000e+03,1.064000e+03,1.250000e+05,254.000000,252.000000,8.000000e+07,2.210538e+04
max,59.999989,10646.000000,11018.000000,1.435577e+07,1.465753e+07,1.000000e+06,255.000000,254.000000,5.988000e+09,2.242273e+07

In [ ]:
data_total_continous.iloc[:,10:20].describe() # non categorical

,sloss,dloss,sinpkt,dinpkt,sjit,djit,swin,stcpb,dtcpb,dwin
count,257673.000000,257673.000000,257673.000000,257673.000000,2.576730e+05,257673.000000,257673.000000,2.576730e+05,2.576730e+05,257673.000000
mean,4.889317,6.743691,912.300834,98.915462,5.419373e+03,582.251456,121.753661,1.006120e+09,1.002295e+09,119.254629
std,65.574953,53.702222,6922.153239,1094.048691,4.903450e+04,3930.153369,127.367443,1.367795e+09,1.363877e+09,127.230477
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
25%,0.000000,0.000000,0.008000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
50%,0.000000,0.000000,0.381696,0.007000,6.736370e-01,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
75%,3.000000,2.000000,58.094727,56.438859,2.787367e+03,119.712937,255.000000,2.007375e+09,1.992752e+09,255.000000
max,5319.000000,5507.000000,84371.496000,57739.240000,1.483831e+06,463199.240100,255.000000,4.294959e+09,4.294882e+09,255.000000

In [ ]:
data_total_continous.iloc[:,20:39].describe() # non categorical

,tcprtt,synack,ackdat,smean,dmean,trans_depth,response_body_len,ct_srv_src,ct_state_ttl,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports
count,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,2.576730e+05,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000
mean,0.046038,0.023652,0.022386,137.639027,121.649703,0.102242,1.968900e+03,9.383176,1.324978,6.050467,5.238271,4.032677,8.322964,0.012819,0.012850,0.132005,6.800045,9.121049,0.014274
std,0.092908,0.053856,0.045771,205.901118,254.041013,0.710593,4.962523e+04,10.829706,0.992300,8.173749,8.160822,5.831515,11.120754,0.116091,0.116421,0.681854,8.396266,10.874752,0.118618
min,0.000000,0.000000,0.000000,24.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,57.000000,0.000000,0.000000,0.000000e+00,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000
50%,0.000000,0.000000,0.000000,73.000000,44.000000,0.000000,0.000000e+00,5.000000,1.000000,2.000000,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,3.000000,4.000000,0.000000
75%,0.082082,0.036842,0.044665,100.000000,89.000000,0.000000,0.000000e+00,12.000000,2.000000,6.000000,4.000000,3.000000,8.000000,0.000000,0.000000,0.000000,8.000000,11.000000,0.000000
max,3.821465,3.226788,2.928778,1504.000000,1500.000000,172.000000,6.558056e+06,63.000000,6.000000,59.000000,59.000000,46.000000,65.000000,4.000000,4.000000,30.000000,60.000000,62.000000,1.000000

In [ ]:
data_total_continous.columns.values[0:27]

array(['dur', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'sttl',
       'dttl', 'sload', 'dload', 'sloss', 'dloss', 'sinpkt', 'dinpkt',
       'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin', 'tcprtt',
       'synack', 'ackdat', 'smean', 'dmean', 'trans_depth',
       'response_body_len'], dtype=object)

In [ ]:
# scale the values in X
# columns 3 to 24 with log and min-max and rest only min-max
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
for n in data_total_continous.columns.values[0:27]:
    data_total_continous[n] = mm.fit_transform(np.log(data_total_continous[n].values.reshape(-1, 1)+1))
for n in data_total_continous.columns.values[27:]:
    data_total_continous[n] = mm.fit_transform(data_total_continous[n].values.reshape(-1, 1))

In [ ]:
data_total_continous.iloc[:,0:10].describe() # non categorical

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload
count,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000
mean,0.082035,0.155770,0.151205,0.232088,0.235320,0.560449,0.873253,0.446812,0.613818,0.336308
std,0.152950,0.131127,0.164681,0.123858,0.237366,0.300242,0.195666,0.440694,0.205709,0.338807
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000002,0.047258,0.000000,0.115080,0.000000,0.250380,0.747160,0.000000,0.418376,0.000000
50%,0.001040,0.106795,0.118037,0.230161,0.314378,0.578467,0.999294,0.613795,0.600529,0.441136
75%,0.127035,0.218162,0.257634,0.301533,0.422457,0.849486,0.999294,0.998579,0.808312,0.591035
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
data_total_continous.iloc[:,10:20].describe() # non categorical

,sloss,dloss,sinpkt,dinpkt,sjit,djit,swin,stcpb,dtcpb,dwin
count,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000
mean,0.091309,0.089203,0.170009,0.149499,0.253824,0.176390,0.477492,0.446773,0.446631,0.467693
std,0.114632,0.129011,0.213027,0.195419,0.276705,0.216903,0.499484,0.477509,0.477426,0.498945
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000702,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.028503,0.000636,0.036242,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.161587,0.127539,0.359618,0.369466,0.558278,0.367427,1.000000,0.965708,0.965379,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
data_total_continous.iloc[:,20:39].describe() # non categorical

,tcprtt,synack,ackdat,smean,dmean,trans_depth,response_body_len,ct_srv_src,ct_state_ttl,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports
count,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000
mean,0.026627,0.015459,0.015552,0.316714,0.348096,0.013333,0.028941,0.135213,0.220830,0.087077,0.073074,0.067393,0.114421,0.003205,0.003212,0.004400,0.098306,0.133132,0.014274
std,0.048038,0.030999,0.029331,0.176627,0.342072,0.040547,0.114687,0.174673,0.165383,0.140927,0.140704,0.129589,0.173762,0.029023,0.029105,0.022728,0.142310,0.178275,0.118618
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.205377,0.000000,0.000000,0.000000,0.016129,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.016949,0.016393,0.000000
50%,0.000000,0.000000,0.000000,0.264831,0.520471,0.000000,0.000000,0.064516,0.166667,0.017241,0.000000,0.000000,0.031250,0.000000,0.000000,0.000000,0.033898,0.049180,0.000000
75%,0.050148,0.025100,0.031934,0.340741,0.615242,0.000000,0.000000,0.177419,0.333333,0.086207,0.051724,0.044444,0.109375,0.000000,0.000000,0.000000,0.118644,0.163934,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Build Xtrain and Ytrain

In [ ]:
# Build Xtrain
Xtrain = data_total_continous.iloc[0:Xctr.shape[0],:]
print(Xtrain.shape)

Xtrain = pd.concat([Xtrain, 
                      pd.DataFrame(Xctr1),
                      pd.DataFrame(Xctr2),
                      pd.DataFrame(Xctr3)], axis=1)
print(Xtrain.shape)

(175341, 39)
(175341, 196)

In [ ]:
# Build Ytrain
Ytrain_label = dataTrain['label']
Ytrain_attack = Xctr4
print(Ytrain_label.shape)
print(Ytrain_attack.shape)
Ytrain_attack_char = dataTrain['attack_cat']
print(Ytrain_attack_char.shape)

(175341,)
(175341, 10)
(175341,)

# Build Xtest and Ytest

In [ ]:
Xtest = data_total_continous.iloc[Xctr.shape[0]:,:]
Xtest.reset_index(inplace = True, drop=True)
print(Xtest.shape)

Xtest = pd.concat([Xtest, 
                      pd.DataFrame(Xcte1),
                      pd.DataFrame(Xcte2),
                      pd.DataFrame(Xcte3)], axis=1 )
print(Xtest.shape)

(82332, 39)
(82332, 196)

In [ ]:
# Build Ytrain
Ytest_label = dataTest['label']
Ytest_attack = Xcte4
print(Ytest_label.shape)
print(Ytest_attack.shape)
Ytest_attack_char = dataTest['attack_cat']
print(Ytest_attack_char.shape)

(82332,)
(82332, 10)
(82332,)

## Show unique values for class and difficulty features, for both train and test data

In [ ]:
# unique values of class and difficulty
print('Unique values of labels in Train, in order of more to less frequent')
print(dataTrain['attack_cat'].unique())
print('Number of unique values of labels in Train')
print(len(dataTrain['attack_cat'].unique()))
#print(np.sort(dataTrain['difficulty'].unique()))

print('\nUnique values of labels in Test, , in order of more to less frequent')
print(dataTest['attack_cat'].unique())
print('Number of unique values of labels in Test')
print(len(dataTest['attack_cat'].unique()))
#print(np.sort(dataTest['difficulty'].unique()))

Unique values of labels in Train, in order of more to less frequent
['Normal' 'Backdoor' 'Analysis' 'Fuzzers' 'Shellcode' 'Reconnaissance'
 'Exploits' 'DoS' 'Worms' 'Generic']
Number of unique values of labels in Train
10

Unique values of labels in Test, , in order of more to less frequent
['Normal' 'Reconnaissance' 'Backdoor' 'DoS' 'Exploits' 'Analysis'
 'Fuzzers' 'Worms' 'Shellcode' 'Generic']
Number of unique values of labels in Test
10

## Dimensions of Train and Test datasets

In [ ]:
print('Training set dimensions')
print(dataTrain.shape)
print('Test set dimensions')
print(dataTest.shape)

Training set dimensions
(175341, 45)
Test set dimensions
(82332, 45)

## Table of counts frequency for class labels 

Table of frequency counts for the labels in the feature: class; for Train and Test data

### Train data (class names frequency)

In [ ]:
# table of counts per class type
print('Counts')
print(dataTrain['attack_cat'].value_counts())
print('\nPercentage')
print(dataTrain['attack_cat'].value_counts().apply(lambda x: float(x)/sum(dataTrain['attack_cat'].value_counts())))

Counts
Normal            56000
Generic           40000
Exploits          33393
Fuzzers           18184
DoS               12264
Reconnaissance    10491
Analysis           2000
Backdoor           1746
Shellcode          1133
Worms               130
Name: attack_cat, dtype: int64

Percentage
Normal            0.319378
Generic           0.228127
Exploits          0.190446
Fuzzers           0.103706
DoS               0.069944
Reconnaissance    0.059832
Analysis          0.011406
Backdoor          0.009958
Shellcode         0.006462
Worms             0.000741
Name: attack_cat, dtype: float64

In [ ]:
# table of counts per class type
print('Counts')
print(dataTrain['label'].value_counts())
print('\nPercentage')
print(dataTrain['label'].value_counts().apply(lambda x: float(x)/sum(dataTrain['label'].value_counts())))

Counts
1    119341
0     56000
Name: label, dtype: int64

Percentage
1    0.680622
0    0.319378
Name: label, dtype: float64

### Train data (proto names frequency)

In [ ]:

print('Counts')
print(dataTrain['proto'].value_counts())
print('\nPercentage')
print(dataTrain['proto'].value_counts().apply(lambda x: float(x)/sum(dataTrain['proto'].value_counts())))

Counts
tcp       79946
udp       63283
unas      12084
arp        2859
ospf       2595
          ...
rdp          98
netblt       98
igmp         18
icmp         15
rtp           1
Name: proto, Length: 133, dtype: int64

Percentage
tcp       0.455946
udp       0.360914
unas      0.068917
arp       0.016305
ospf      0.014800
            ...
rdp       0.000559
netblt    0.000559
igmp      0.000103
icmp      0.000086
rtp       0.000006
Name: proto, Length: 133, dtype: float64

### Train data (service names frequency)

In [ ]:

print('Counts')
print(dataTrain['service'].value_counts())
print('\nPercentage')
print(dataTrain['service'].value_counts().apply(lambda x: float(x)/sum(dataTrain['service'].value_counts())))

Counts
-           94168
dns         47294
http        18724
smtp         5058
ftp-data     3995
ftp          3428
ssh          1302
pop3         1105
dhcp           94
snmp           80
ssl            56
irc            25
radius         12
Name: service, dtype: int64

Percentage
-           0.537056
dns         0.269726
http        0.106786
smtp        0.028847
ftp-data    0.022784
ftp         0.019550
ssh         0.007426
pop3        0.006302
dhcp        0.000536
snmp        0.000456
ssl         0.000319
irc         0.000143
radius      0.000068
Name: service, dtype: float64

### Train data (state names frequency)

In [ ]:

print('Counts')
print(dataTrain['state'].value_counts())
print('\nPercentage')
print(dataTrain['state'].value_counts().apply(lambda x: float(x)/sum(dataTrain['state'].value_counts())))

Counts
INT    82275
FIN    77825
CON    13152
REQ     1991
RST       83
ECO       12
PAR        1
URN        1
no         1
Name: state, dtype: int64

Percentage
INT    0.469229
FIN    0.443849
CON    0.075008
REQ    0.011355
RST    0.000473
ECO    0.000068
PAR    0.000006
URN    0.000006
no     0.000006
Name: state, dtype: float64

### Test data (class names frequency)

In [ ]:
print('Counts')
print(dataTest['attack_cat'].value_counts())
print('\nPercentage')
print(dataTest['attack_cat'].value_counts().apply(lambda x: float(x)/sum(dataTest['attack_cat'].value_counts())))
#[float(i)/sum(dataTest['class'].value_counts()) for i in dataTest['class'].value_counts()]

Counts
Normal            37000
Generic           18871
Exploits          11132
Fuzzers            6062
DoS                4089
Reconnaissance     3496
Analysis            677
Backdoor            583
Shellcode           378
Worms                44
Name: attack_cat, dtype: int64

Percentage
Normal            0.449400
Generic           0.229206
Exploits          0.135209
Fuzzers           0.073629
DoS               0.049665
Reconnaissance    0.042462
Analysis          0.008223
Backdoor          0.007081
Shellcode         0.004591
Worms             0.000534
Name: attack_cat, dtype: float64

In [ ]:
print('Counts')
print(dataTest['label'].value_counts())
print('\nPercentage')
print(dataTest['label'].value_counts().apply(lambda x: float(x)/sum(dataTest['label'].value_counts())))
#[float(i)/sum(dataTest['class'].value_counts()) for i in dataTest['class'].value_counts()]

Counts
1    45332
0    37000
Name: label, dtype: int64

Percentage
1    0.5506
0    0.4494
Name: label, dtype: float64

### Test data (proto names frequency)

In [ ]:

print('Counts')
print(dataTest['proto'].value_counts())
print('\nPercentage')
print(dataTest['proto'].value_counts().apply(lambda x: float(x)/sum(dataTest['proto'].value_counts())))

Counts
tcp     43095
udp     29418
unas     3515
arp       987
ospf      676
        ...
a/n        32
rvd        32
zero       32
ib         31
igmp       30
Name: proto, Length: 131, dtype: int64

Percentage
tcp     0.523430
udp     0.357309
unas    0.042693
arp     0.011988
ospf    0.008211
          ...
a/n     0.000389
rvd     0.000389
zero    0.000389
ib      0.000377
igmp    0.000364
Name: proto, Length: 131, dtype: float64

### Test data (service names frequency)

In [ ]:

print('Counts')
print(dataTest['service'].value_counts())
print('\nPercentage')
print(dataTest['service'].value_counts().apply(lambda x: float(x)/sum(dataTest['service'].value_counts())))

Counts
-           47153
dns         21367
http         8287
smtp         1851
ftp          1552
ftp-data     1396
pop3          423
ssh           204
ssl            30
snmp           29
dhcp           26
radius          9
irc             5
Name: service, dtype: int64

Percentage
-           0.572718
dns         0.259522
http        0.100653
smtp        0.022482
ftp         0.018851
ftp-data    0.016956
pop3        0.005138
ssh         0.002478
ssl         0.000364
snmp        0.000352
dhcp        0.000316
radius      0.000109
irc         0.000061
Name: service, dtype: float64

### Test data (state names frequency)

In [ ]:

print('Counts')
print(dataTest['state'].value_counts())
print('\nPercentage')
print(dataTest['state'].value_counts().apply(lambda x: float(x)/sum(dataTest['state'].value_counts())))

Counts
FIN    39339
INT    34163
CON     6982
REQ     1842
ACC        4
CLO        1
RST        1
Name: state, dtype: int64

Percentage
FIN    0.477809
INT    0.414942
CON    0.084803
REQ    0.022373
ACC    0.000049
CLO    0.000012
RST    0.000012
Name: state, dtype: float64

In [ ]:
####################################################
# Save all variables for next session
####################################################
filename_save = 'ADFA_Load.pkl'
import pickle

# Saving the objects:
with open(filename_save, 'wb') as f:  # Python 3: open(..., 'wb')
    pickle.dump([Ytest_label,Ytest_attack, Xtest, Ytrain_label,
                 Ytrain_attack, Xtrain,Ytest_attack_char, Ytrain_attack_char, le1, le2, le3, le4], f)

####################################################